body {
    font-size: 1.25em;
    color: red;
    background: pink
}

header {
    background: pink;
    display: grid;
    margin: 5px;
    text-align: center;
}

.item {
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    width: 25%;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}
